body {
  color: black;
  background-color: #00FFFF;
  font-family: Arial;
}

h1{
  font-family: "Times New Roman", Times;
}

h4{
  font-family: Georgia;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F5F5DC;
}

nav li {
  float: left;
  padding: 4px;
}

nav li a {
  display: block;
  color: #006400;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
  padding: 18px 20px;
  text-decoration: none;
  border-style: solid;
}

nav li a:hover {
  color: white;
  background-color: #00BFFF;
}

section {
 display: flex;
}

aside {
 flex: 1;
}

article {
 flex: 4;
}